button{
    padding: 14px;
    width: 80px;
    height: 50px;
    text-align: "center";
    background-color:purple;
    color: white;
    font-size: 16px
}
h1{
    padding: 20px;
    text-align: center;
    background: #0b7ad4;
    color: white;
    font-size: 30px;
}
#winnerMsg,#display{
    color:#0b7ad4;
    padding: 20px;
}
#score-card{
    color: red;
}
table {
    border-collapse: collapse;
    text-align: center;
}
  
table, th, td {
    border: 1px solid black;
}